:root {
    --title-size: 1.5rem;
}

.header {
    height: 8vh;
    background-color: black;
    display: flex;
    padding: 5px 50px;
    justify-content: space-between;
}

.header__title_link {
    text-decoration: none;
}

.header__title {
    margin: 0;
    line-height: 8vh;
    font-size: var(--title-size);
    color: white
}

.header__href {
    height: var(--title-size);
    display: block;
    color: white;
}

.header__icon {
    height: 8vh;
    display: block;
    margin-top: auto;
}