.list {
    min-height: 48.5vh;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    justify-content: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.booklist__line {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 10px;

}

.booklist__name {
    text-align: left;
    margin: 0;
    font-weight: 400;
}

.booklist__price {
    text-align: right;
    margin: 0;
    font-weight: 800;
}

.list__footer {
    display: flex;
    justify-content: space-between;
}

.buybtn {
    height: 50px;
    width: 80px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border-radius: 10px;
}