.main_review {
    background-color: #E9E9E9;
    padding: 50px 40px 0 40px;
    height: Calc(91vh - 51px);
}

.book_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.book_info__annotation {
    text-align: justify;
    background-color: white;
    border-radius: 10px;
    padding: 16px 20px;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.book_info__annotation h2 {
    margin: 0;
}


.book_info__counter {
    margin-top: auto;
    margin-bottom: 0;
}

.review_list {
    height: 100%;
    overflow: auto;
}

.review_list::-webkit-scrollbar {
    width: 0;
}