.card {
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 16px 20px;
    margin-bottom: 20px;

}

.card__content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__name {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__info {
    color: rgb(86, 84, 84);
    font-size: 16px;
    line-height: 18px;
    margin: 0.5em 0;
}

.card__info:first-of-type {
    margin-top: auto;
}

.card__info:last-child {
    margin-bottom: auto;
}

.card__price {
    margin: 20px 0 0 0;
    font-size: 24px;
    font-weight: 700;
}

.counter {
    margin: auto 0 auto auto;
    display: flex;
    justify-content: space-between;
    width: 125px;
    height: 2.5rem;
}

.counter__button {

    background-color: black;
    border: none;
    border-radius: 8px;
}

.counter__button:disabled {
    background-color: lightgray;
}

.counter__num {
    margin: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2.5rem;
    vertical-align: baseline;
}

.counter__num_disabled {
    color: lightgray
}